<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230872018787-u42vvurfom2seoi6c8ta0ns6hl6t3nd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230872018787-u42vvurfom2seoi6c8ta0ns6hl6t3nd7</string>
	<key>API_KEY</key>
	<string>AIzaSyDpbdN2SEDunISsJwApjL06Wu_gfqYWDnk</string>
	<key>GCM_SENDER_ID</key>
	<string>230872018787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doctonomyapp.doctonomy</string>
	<key>PROJECT_ID</key>
	<string>doctonomy-5191f</string>
	<key>STORAGE_BUCKET</key>
	<string>doctonomy-5191f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230872018787:ios:c278877e4386065c15ad56</string>
	<key>DATABASE_URL</key>
	<string>https://doctonomy-5191f.firebaseio.com</string>
</dict>
</plist>